{% load staticfiles %}
{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>How Armadale Is Your Suburb?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="//code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>
    <link href="{% static "css/jquery-ui-1.10.0.custom.css" %}" rel="stylesheet">
    {% bootstrap_css %}
    {% bootstrap_javascript%}
    
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/howarmadale.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to homebrew.css -->
    {% block extra_css %}{% endblock extra_css %}

    {% block extra_js %}{% endblock extra_js %}
    {% block head %}{% endblock head %}
  </head>

  <body>

    <div class="container main-body">
      {% bootstrap_messages messages %}

      <h1>{% block page_title %}{% endblock page_title %}</h1>

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

  </body>
</html>
