{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="//code.highcharts.com/highcharts.js"></script>


<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h2>
				How Armadale is your suburb?
			</h2>
			<p>
				Compare your suburb against Perth's most notorious or any other.
			</p>
		</div>
		<h3>
			Compare to Armadale
		</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<form id="compareForm">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="suburb">Your Suburb</label>
								<input class="form-control" type="text" id="suburbOne" name="suburb" placeholder="Your Suburb" required="required">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Compared To</label>
								<input class="form-control" type="text" id="suburbTwo" value="Armadale" name="suburb" required="required">
							</div>
						</div>
					</div>
					<hr></hr>
					<div class="row">
						<div class="col-md-6">
							<div class="form-inline">
								<label for="year">From</label>
								<select class="form-control" id="month-from" name="monthFrom">
									{% for y in months %}
										<option value="{{ y.0 }}" {% if forloop.first %}selected="true"{% endif %}>{{ y.1 }}</option>
									{% endfor %}
								</select>
								<select class="form-control" id="year-from" name="yearFrom">
									{% for y in years reversed %}
										<option value="{{ y }}" {% if forloop.counter == 2 %}selected="true"{% endif %}>{{ y }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-inline">
								<label for="year">To</label>
								<select class="form-control" id="month-to" name="monthTo">
									{% for y in months %}
										<option value="{{ y.0 }}" {% if forloop.last %}selected="true"{% endif %}>{{ y.1 }}</option>
									{% endfor %}
								</select>
								<select class="form-control" id="year-to" name="yearTo">
									{% for y in years reversed %}
										<option value="{{ y }}" {% if forloop.first %}selected="true"{% endif %}>{{ y }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="pull-right">
						<input type="submit" id="compare" class="btn btn-primary btn-large" value="Compare"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row" id="results">
	<div class="col-md-12">
		<div id="chart"></div>
	</div>
</div>
<script type="text/javascript" src="{% static "js/howarmadale.js" %}"></script>
{% endblock content %}